
body{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

.header{
    margin: 0px;
    background-color: cadetblue;
    

}

h1{
    color: black;
    text-align: center;
}